<!DOCTYPE>
<html>
	<head>
		<title> Hack TCNJesus </title>
	</head>

	<body>
		<h1> Hack TCNJesus </h1>
            <!--
		<h2> Rate your fucking hackathon for Jesus or something </h2>
        -->

		<img src="static/tcnjesus.jpg"><br /><br />

		<form action="/success">
		<input type="text" name="hackathon" placeholder="Hackathon Name" required>
		<br /><br />
		How were the meals, my child?
		<br />
		<input type="radio" name="food" value="1" required> 1
		<input type="radio" name="food" value="2" required> 2	
		<input type="radio" name="food" value="3" required> 3	
		<input type="radio" name="food" value="4" required> 4	
		<input type="radio" name="food" value="5" required> 5	
		<br /><br />
		How comforting art thou robes?
		<br />
		<input type="radio" name="shirt" value="1" required> 1
		<input type="radio" name="shirt" value="2" required> 2	
		<input type="radio" name="shirt" value="3" required> 3	
		<input type="radio" name="shirt" value="4" required> 4	
		<input type="radio" name="shirt" value="5" required> 5	
		<br /><br />
		<input type="submit" value="Praise the Lord - TCNJesus!">
		</form>
	</body>

</html>
